<h1>Password Generator</h1>

<div>
  <label for="length">Enter Length</label>
</div>
<div>
  <!-- The $event is allowing it to grab the native/DOM event. -->
  <input type="text" name="length" (input)="onInputLength($event.target.value)">
</div>
<div>
  <label for="letters">Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()">
</div>
<div>
    <label for="numbers">Use Numbers</label>
    <input type="checkbox" (change)="onChangeUseNumbers()">
</div>
<div>
  <label for="symbols">Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()">
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label for="password">Your Password</label>
  <input type="text" [value]="password">
</div>