<h1>Password Generator</h1>

<div>
  <label for="length">Enter Length</label>
</div>
<div>
  <input type="text" name="length">
</div>
<div>
  <label for="letters">Use Letters</label>
  <input type="checkbox">
</div>
<div>
    <label for="numbers">Use Numbers</label>
    <input type="checkbox">
</div>
<div>
  <label for="symbols">Use Symbols</label>
  <input type="checkbox">
</div>

<div>
  <button>Generate</button>
</div>

<div>
  <label for="password">Your Password</label>
  <input type="text">
</div>